[Unit]
Description=LG TV Power On (Wake-on-LAN) on Network Online
After=network.target

[Service]
Type=oneshot
User=madundead
Group=madundead
ExecStart=/home/madundead/.scripts/lgtv/on.sh

[Install]
WantedBy=multi-user.target
